/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

// Define a color map
$color-map: (
    "match-color-red": color("red-40v"),
    "match-color-orange": color("orange-40v"),
    "match-color-yellow": color("yellow-40v"),
    "match-color-green": color("green-40v")
);

// Mixin to generate classes
@mixin generate-color-classes($map) {
    @each $class, $color in $map {
        .#{$class} {
            color: $color;
        }
    }
}

// Use the mixin
@include generate-color-classes($color-map);

$spacer: 1rem;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h1 {
    @include typeset("sans", 15, 2);
    span {
        font-size: 0.65em;
        display: block;
    }
}
.vh-80 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vh-100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-blue {
    background-color: color("blue-5");
}
.bg-gray {
    background-color: color("gray-2");
}
.bg-grad {
    background: color("blue-5");
    background: radial-gradient(circle, color("white") 30%, color("yellow-10") 90%);
    // background: radial-gradient(circle, color("white") 20%, color("yellow-10") 80%, color("yellow-20") 100%);
    background-attachment: fixed;
}
.w-auto {
    width: auto !important;
}
.text-align-right {
    @include at-media(tablet) {
        text-align: right;
    }
}

ul.top-series-list {
    li {
        margin: ($spacer) 0;
        a {
            @include typeset("sans", 7, 3);
            text-decoration: none;
            font-weight: bold;
        }
    }
}
.results-faqs-section {
    position: sticky;
    top: 0;
    z-index: 2;
}
.top-series-container {
}
.results-faqs-container {
    //margin-top: auto;
}
.intro {
    p,
    li,
    a {
        @include typeset("sans", 9, 3);
        //@include u-measure(1);
    }
}
.usa-button-group {
    justify-content: flex-end;
    &.buttons-center {
        justify-content: center;
    }
}
ul.results-faqs {
    display: flex;
    justify-content: space-evenly;
    li {
        margin: ($spacer) ($spacer);
    }
}
.result {
    padding-top: ($spacer * 6);
    padding-bottom: ($spacer * 6);
}
.match {
    & > * {
        margin-left: ($spacer * 0.5);
        margin-right: ($spacer * 0.5);
    }
}
.series {
    .series-detail {
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    .series-actions {
        margin-top: ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
    h2 {
        span:not(:last-child) {
            margin-right: ($spacer * 2);
        }
        display: flex;
        justify-content: space-between;
    }
}
.series-name {
    text-transform: capitalize;
}
.series-nav-buttons {
    position: sticky;
    bottom: 0;
    padding: ($spacer * 0.5) $spacer;
    display: flex;
    justify-content: space-between;
}
.quiz {
    max-width: 44rem;
    .questions {
        display: flex;
        overflow-x: hidden;
        .question {
            flex: 0 0 100%;
            background: color("white");
            padding: $spacer;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            // height: 100%;
            .usa-fieldset {
                margin-top: auto;
            }
        }
    }
}
.usa-legend {
    visibility: hidden;
    display: none;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin-left: $spacer;
    @include at-media(tablet) {
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
        .usa-radio {
            margin: 0;
        }
        .usa-radio__label {
            text-align: center;
            margin: 0;
            padding: $spacer;
            &::before {
                position: relative;
                margin: 0 auto ($spacer) auto;
            }
        }
    }
    .usa-radio {
        margin-bottom: ($spacer * 0.5);
    }
}
.rating-choices {
    display: flex;
    justify-content: space-between;
    @include typeset("sans", 6, 3);
    //color: color("gray-60");
    margin: 0 ($spacer);
    & > *:last-child {
        text-align: right;
    }
}
$default-color: color("gray-10");
$progress-color: color("mint-30v");
.progress-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 44rem;
    margin-top: ($spacer * 2);
    margin-bottom: ($spacer * 2);
    &::before,
    &::after {
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $default-color;
    }
    &::before {
        background: $progress-color;
    }
    .progress-bar {
        flex: 1;
        height: 15px;
        width: 100%;
        background: $default-color;
        margin: 0 -3px;
        &::after {
            content: "";
            display: block;
            height: 100%;
            width: 4%;
            background: $progress-color;
        }
    }
}
.quiz-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 44rem;
    margin-top: ($spacer * 2);
    margin-bottom: ($spacer * 2);
    button.usa-button {
        margin: 0;
    }
    .progress-text {
        text-align: center;
    }
}
.quiz-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mockup-nav {
    display: flex;
    li {
        margin: 0 $spacer;
    }
}
ul.instructions {
    margin-bottom: ($spacer * 2);
    li {
        margin: ($spacer) 0;
        a {
            @include typeset("sans", 7, 3);
            text-decoration: none;
            font-weight: bold;
        }
    }
}
ul.icon-list {
    li {
        display: flex;
        align-items: center;
        .usa-icon {
            font-size: 2.3rem;
            margin-right: $spacer;
            &.icon-larger {
                font-size: 2.7rem;
            }
        }
    }
}
.logo {
    height: 80px;
    width: auto;
}
.nav-mockup {
    padding: $spacer 0;
    .grid-container {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        height: 36px;
        width: 158px;
    }
    .links {
        display: flex;
        li {
            margin: 0 ($spacer * 2);
        }
    }
}
.footer-mockup {
    .f1 {
        background-color: #fff;
        min-height: 68px;
    }
    .f2 {
        background-color: #f1f1f1;
        min-height: 328px;
    }
    .f3 {
        background-color: #112e51;
        min-height: 203px;
    }
}
.load-more-button {
    margin: 0 auto ($spacer * 4) auto;
    display: block;
}
