<a href="#feedback-short" id="feedback-short-button" class="usa-button usa-button--outline" aria-controls="feedback-short" data-open-modal>Report an issue</a>

<div class="usa-modal" id="feedback-short" aria-labelledby="feedback-short-heading" aria-describedby="feedback-short-description">
    <div class="usa-modal__content usa-prose">
        <div class="usa-modal__main">
            <div id="feedback-form-short"></div>
        </div>
        <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="assets/uswds/img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>

<script src="https://touchpoints.app.cloud.gov/touchpoints/58780684.js" async></script>