<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JET Quiz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/uswds/css/styles.css" />
    <script defer src="assets/uswds/js/uswds.min.js"></script>
</head>

<body>
    <nav>
        <ul class="usa-list usa-list--unstyled mockup-nav">
            <li><a class="usa-link" href="index.html">Home</a></li>
            <li><a class="usa-link" href="quiz.html">Quiz</a></li>
            <li><a class="usa-link" id="qFirst">Q1</a></li>
            <li><a class="usa-link" id="qLast">Q25</a></li>
            <li><a class="usa-link" id="complete">Complete</a></li>
            <li><a class="usa-link" href="results.html">Results</a></li>
        </ul>
    </nav>
    <%= files.header %>
        <main id="main">
            <section class="vh-100 bg-gray">
                <!-- <div class="grid-container progress-bar-container">
                <div class="progress-bar"></div>
            </div> -->
                <div>
                    <div class="grid-container quiz">
                        <div class="questions"></div>
                    </div>
                    <div class="grid-container quiz-nav-buttons">
                        <button type="button" class="usa-button usa-button--outline w-auto" id="prev" style="visibility: hidden;">Prev</button>
                        <div id="progressContainer">
                            <div id="progressBar"></div>
                            <span id="progressText">Progress: 0% Complete</span>
                        </div>
                        <!-- <p class="usa-prose progress-text">Progress: 4% Complete</p> -->
                        <button type="button" class="usa-button usa-button--outline w-auto" id="next" style="visibility: hidden;">Next</button>
                    </div>
                    <div class="grid-container quiz-submit-button">
                        <button type="button" class="usa-button w-auto" id="submit-button" style="visibility: hidden;">Submit</button>
                    </div>
                </div>
            </section>
        </main>
        <%= files.footer %>
</body>

</html>